<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tohure.betagcm">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="com.google.android.c2dm.permission.REGISTER" />

    <permission
        android:name="com.tohure.betagcm.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".MessageNotificationService"
            android:exported="false"
            android:label="com.tohure.betagcm.MessageReceivingService">
            <intent-filter>
                <action android:name="com.tohure.betagcm.MainActivity" />
                <action android:name="com.tohure.betagcm.ExternalReceiver" />

                <category android:name="com.tohure.betagcm" />
            </intent-filter>
        </service>

        <receiver
            android:name=".receiver.ExternalReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
                <action android:name="com.google.android.c2dm.intent.REGISTER" />

                <category android:name="com.tohure.betagcm" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".notifications_wear.stub_wear.MyStubBroadcastActivity"
            android:label="MyStubBroadcastActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".notifications_wear.WearTextNotification"
            android:allowEmbedded="true"
            android:exported="true"
            android:taskAffinity=""
            android:theme="@android:style/Theme.DeviceDefault.Light" />

        <activity
            android:name=".notifications_wear.stub_wear.MyStubBroadcastActivityI"
            android:label="MyStubBroadcastActivityI">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".notifications_wear.WearImageNotification"
            android:allowEmbedded="true"
            android:exported="true"
            android:taskAffinity=""
            android:theme="@android:style/Theme.DeviceDefault.Light"></activity>

    </application>

</manifest>